# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

app/logs/dev.log
app/logs/prod.log

app/propel/migrations

#eclipse directories
.buildpath
.project
.settings