{% extends 'ISGProjectSubmissionAppBundle:Common:Unregistered/main.html.twig' %}

{% block content %}

<div class="container-lg">
 
 <div class="header-lg"> <h3>Project Submission</h3></div>
 <div class="content-lg">
 
 <div id="errors-lg" >
  
  <p> The following erros were found </p>
  <ul>
   <li>Username Incorrect</li>
   <li>Password Incorrect</li>
   </ul>
 
 </div>
 
 <div class="form-lg">
 <form action="/user/login" type="get">
  
  <div class="form-text-lg"> <span class="label-lg"> Username: </span> <input type="text" name="username"/> </div>
  <div class="form-text-lg"> <span class="label-lg"> Password: </span><input type="password" name="password" /> </div>
 
  <div id="form-lg-error"> </div>
 
  <div class="form-lg-submit"> <input type="submit" name="Log In" value="Log In"/> </div>
 
 </form>
 
 </div>
 <div class="addinfo-lg">
 Here is the additional info or disclaimer positioned
 If you forgot your password proceed to click on this link
  </div>
 
 </div>
</div>




{% endblock %}