<script type="text/javascript">
</script>

<div class = "hreg">  
<p>Welcome <span class="huser">{{user.userFirstname|capitalize}} {{user.userLastName|capitalize}}</span> </p> |
<p><a href="{{ path("_logout") }}">Logout</a></p>
</div>