<div class="content-rg">

<div class="data-rg">
   Here goes the data I should display for external examiner
</div>

<div class="actions-rg">

 <ul>
  <li><a href=#>Modify Proile</a> | </li>
  <li><a href=#>Manage Projects</a>  </li>
 </ul>

</div>

</div>