<div class="content-rg">

<div class="data-rg">
   Here goes the data I should display for project module leader
</div>

<div class="actions-rg">

 <ul>
  <li><a href=#>Modify Profile</a> | </li>
  <li><a href=#> Allocate Supervisor </a> | </li> 
  <li><a href=#>Manage Projects  </a> | </li> 
  <li><a href=#>Search  </a>  </li> 
 
 </ul>

</div>

</div>