<div class="content-rg">

<div class="data-rg">
   Here goes the data I should display for student
</div>

<div class="actions-rg">

 <ul>
  <li><a href=#>Modify Profile</a> | </li>
  <li><a href=#> Manage Documents </a> | </li> 
  <li><a href=#>Nominate Supervisor  </a> | </li> 
 
 </ul>

</div>

</div>