<div class="content-rg">

<div class="data-rg">
   Here goes the data I should display for supervisor

<div class="actions-rg">

 <ul>
  <li><a href=#>Modify Profile</a> | </li>
  <li><a href=#>Manage Nomination</a> | </li>
  <li><a href=#>Manage Messages</a> | </li> 
  <li><a href=#>Manage Projects  </a> </li> 
  </ul>

</div>

</div>