<div class="content-rg">

<div class="data-rg">
   Here goes the data I should display for sysadmin
</div>

<div class="actions-rg">

 <ul>
  <li><a href=#>View Statistics</a> | </li>
  <li><a href=#>View Statistics</a> | </li>
  <li><a href=#>Search </a> | </li> 
  <li><a href=#>Upload Students  </a> | </li> 
  <li><a href="{{ path("_userList") }}">Manage Users  </a> | </li> 
  <li><a href=#>Manage Documents  </a> | </li> 
  <li><a href=#>Manage Deadlines/Stages</li> 
 </ul>

</div>

</div>