{% extends '::main.html.twig' %}

{% block content %}
<p>Register</p>



<form action="{{ path('_userNew') }}" method="post" {{ form_enctype(form) }}
 {{ form_widget(form) }}
 <input type="submit" value="Register Now!"/>
</form> 

{%if error%}
<p>{{ error }}</p>
{%endif%}

{% endblock %}